:root {
    --std-grey: rgba(37, 37, 37, 5%);    
}

* {  
    box-sizing: border-box;
    margin: 0;
    padding: 0;  
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: "Pixelify Sans", sans-serif;
}

button {
    font-family: inherit;    
}

button, input[type="button"], input[type="reset"], input[type="submit"] {
    
    padding: 0;
    border: none;
    background: none;
    color: inherit;
    font: inherit;
    line-height: inherit;
    text-align: inherit;
    
    outline: none;

    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}

button {
    cursor: pointer;
    outline: 2px solid black;
}

.btn {
    text-align: center;
    background-color: var(--std-grey);    
    box-shadow: inset -2px -2px gray;
}

.btn:hover {
    background-color:rgba(37, 37, 37, 10%);
}

.btn:active {
    background-color:rgba(37, 37, 37, 15%);    
    box-shadow: none;
}


#header {
    text-align: center;
    padding: 30px;
    width: 450px;
}

h1 {    
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal; 
    font-size: 50px;    
    margin-bottom: 20px;
}

h3 {
    font-weight: 300;
    font-size: 26px;
}

#tools {
    display: flex;    
    width: 400px;
    gap: 7px;
}

.tools-btn {
    width: 400px;
    height: 50px;
    font-size: 24px;
    font-weight: 300;    
    margin-bottom: 5px;    
}

.tools-btn.active {
    background-color:rgba(37, 37, 37, 20%);   
    box-shadow: none; 
}

#eraser-btn.active {
    color: rgb(255, 0, 0);
    /* text-shadow: 1px 1px 2px rgb(253, 87, 87); */
    outline: 2px solid red;    
    box-shadow: inset -1px -1px 5px rgb(253, 87, 87);
}

#tools-submenu {
    display: flex;    
    flex-direction: column;    
    outline: 2px solid black;
    width: 400px;
    height: 50px;
    margin-bottom: 5px;
    background-color: var(--std-grey);
    gap: 10px;    
}

#tools-submenu .colors {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 5px;
    width: 100%;    
}

#tools-submenu .colors .clr-color {
    width: 40px;
    height: 40px;
}

.clr-color.active {
    position: relative;
    outline: 3px dotted black;    
}

#size-of-canvas {
    width: 100%;
    height: 100%;
    display: none;
    justify-content: center;
    align-items: center;
    padding: 10px;
    gap: 10px;
}

#size-of-canvas p {
    font-size: 26px;    
}

#size-slider {
    -webkit-appearance: none;
    width: 95%;
    height: 25px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
    border: 2px solid black;
}

#size-slider:hover {
    opacity: 1;
}

#size-slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    background: black;
    cursor: pointer;
    border-radius: 0;
}

#size-slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    background: black;
    cursor: pointer;
    border-radius: 0;
}

#border{
    border: 2px solid black;        
    margin-bottom: 10px;
}

#canvas {    
    display: flex;
    flex-wrap: wrap;
    
    width: 400px;
    height: 400px;   
    /* box-sizing: content-box;  */    
}

.pixel {   
    background-color: var(--std-grey);
    width: 25px;
    height: 25px; 
    user-select: none; /* Disable element selection */
}

.main-btn {
    width: 400px;
    height: 50px;    
    font-size: 26px;
    margin-bottom: 10px;
}
